{% extends 'adminbase.html' %}
{% load static %}
{% block title %} event category list  {% endblock %}

{% block content %}
<div class="container">
    <div class="container mt-4">
       

       
        <div class="card-header">
            <div class="row">
                <div class="col-md-10">
                    <h5>Create Event</h5>
                </div>
                <div class="col-md-2">
                    <a class="btn btn-success" href="/event_category_create">Create New</a>
                </div>
            </div>
        </div>
     <br>


        <br>
        <table class="table table-hover" id="example">
            <thead>
                <tr>
                    <th>Sr.No</th>
                    <th> Name</th>
                    <th>Code</th>
                    <th>status</th>

                    <th>Edit</th>
                    <th>Delete</th>
                  
                </tr>
            </thead>
            <tbody>
               {% for book in eventcategory %}
               <tr>
                <td>{{forloop.counter}}</td>
                <td>{{book.name}}</td>
                <td>{{book.code}}</td>
                <td>{{book.status}}</td>
              
                <td><a href="#" class="btn btn-success">edit</a></td>
                <td><a href="" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this category?')">Delete</a></td>
               
            </tr>
               {%endfor%}
            </tbody>
        </table>

<!----/edit_eventcategory/{{book.id}}/ -->
<!----/delete_eventcategory/{{book.id}}/ -->
</div>

{% endblock %}