{% extends 'homebase.html' %}

{% block content %}

<br>
<br>

<div class="jumbotron" style="margin-bottom:0px;">
  <h1 class="display-4" style="text-align:center;">Hello, Organizer</h1>
  <p class="lead">Welcome to Event Management & Smart Ticketing System.</p>
  <hr class="my-4">
  <p>You can access various features after Login/SignUp.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/organizersignup" role="button">SignUp</a>
    <a class="btn btn-primary btn-lg" href="/organizerlogin" role="button">Login</a>
  </p>
</div>

{% endblock content %}
